<div class="row mb-2">
    <div class="col-8">
        <label class="form-label">
            Logradouro
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.logradouro }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            Numero
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.numero }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-4">
        <label class="form-label">
            Bairro
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.bairro }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            Cidade
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.cidade }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            País
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.pais }}" disabled/>
    </div>
</div>