<div class="row mb-2">
    <div class="col-8">
        <label class="form-label">
            {{ 'entity.endereco.logradouro'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.logradouro }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            {{ 'entity.endereco.numero'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.numero }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-4">
        <label class="form-label">
            {{ 'entity.endereco.bairro'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.bairro }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            {{ 'entity.endereco.cidade'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.cidade }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            {{ 'entity.endereco.pais'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ entity.endereco.pais }}" disabled/>
    </div>
</div>