<div class="row mb-2">
    <div class="col-8">
        <label class="form-label">
            {{ 'entity.aluno.nome_completo'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.nomeCompleto }}" disabled/>
    </div>
    <div class="col-4">
        <label class="form-label">
            {{ 'entity.aluno.data_nascimento'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.dataNascimento|date('d/m/Y') }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.cpf'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.documentoCpf }}" disabled/>
    </div>
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.rg'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.documentoRg }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.nacionalidade'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.naturalidade }}" disabled/>
    </div>
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.naturalidade'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.naturalidade }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.nome_pai'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.nomePai }}" disabled/>
    </div>
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.nome_mae'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.nomeMae }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.aluno.nome_responsavel'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.nomeResponsavel }}" disabled/>
    </div>
    <div class="col-3">
        <label class="form-label">
            {{ 'entity.aluno.cpf_responsavel'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.responsavelCpf }}" disabled/>
    </div>
    <div class="col-3">
        <label class="form-label">
            {{ 'entity.aluno.rg_responsavel'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.responsavelRg }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <label class="form-label">
            {{ 'entity.aluno.situacao'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ aluno.situacao }}" disabled/>
    </div>
</div>

<br />

<div class="row mb-2">
    <div class="col-12">
        <h3>
            {{ 'entity.endereco'|trans(locale = userLocate) }}
        </h3>
        <hr>
    </div>
</div>

{% include 'endereco/_entity.html.twig' with {'entity': aluno } %}
