{% extends 'app.html.twig' %}

{% block title %}
    {{ 'title.edit.aluno'|trans(locale = userLocate) }}
{% endblock %}

{% block pageName %}
    {{ 'title.edit.aluno'|trans(locale = userLocate) }}
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
        {{ 'title.aluno'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item">
        {{ 'title.edit.aluno'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item active active">
        {{ aluno.nomeCompleto }}
    </li>
{% endblock %}

{% block content %}

    {% if form.vars.data.nacionalidade == 'brasil' %}
        {{ include('aluno/_form_brasil.html.twig', {'button_label': 'Salvar'}) }}
    {% else %}
        {{ include('aluno/_form_paraguai.html.twig', {'button_label': 'Salvar'}) }}
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/aluno/edit') }}
{% endblock %}