{% extends 'app.html.twig' %}

{% block title %}
    {{ 'title.aluno'|trans(locale = userLocate) }}
{% endblock %}

{% block pageName %}
    {{ 'title.aluno'|trans(locale = userLocate) }}
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
        {{ 'title.aluno'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item">
        {{ 'title.show.aluno'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item active active">
        {{ aluno.nomeCompleto }}
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('app_aluno_index') }}" class="btn btn-danger btn-sm text-white mb-2 shadow">
                <i class="fa-solid fa-left-long"></i>
                {{ 'grid.options.voltar'|trans(locale = userLocate) }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border-0 mb-5 shadow">
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-12">
                            <h3>
                                {{ 'entity.aluno.title'|trans(locale = userLocate) }}
                            </h3>
                           <hr>
                        </div>
                    </div>

                    {{ include('aluno/_entity.html.twig') }}

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
