<div class="row">
   <div class="col-12 d-flex justify-content-end">
        <a href="{{ path('app_contrato_index') }}" class="btn btn-danger btn-sm text-white mb-2 shadow">
            <i class="fa-solid fa-left-long"></i> Voltar
        </a>
    </div>
</div>

<div class="row">
   <div class="col-12">
        <div class="card border-0 mb-5 shadow">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info text-white shadow-sm">
                                <i class="fa-solid fa-floppy-disk"></i>
                                {{ button_label|default('Salvar') }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>