<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.user.nome_completo'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ user.nomeCompleto }}" disabled/>
    </div>
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.user.email'|trans(locale = userLocate) }}
        </label>
        <input type="text" class="form-control" value="{{ user.email }}" disabled/>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <label class="form-label">
            {{ 'entity.user.roles'|trans(locale = userLocate) }}
        </label>

        <br />

        {% for item in user.roles %}
            {% if item != 'ROLE_USER' %}
                    <span class="badge bg-secondary">{{ item|replace({'ROLE_': ''}) }}</span>
            {% endif %}
        {% endfor %}
    </div>
     <div class="col-6">
        <label class="form-label">
            {{ 'entity.user.locate'|trans(locale = userLocate) }}
        </label>

        <br />

        <span class="badge bg-secondary">{{ user.locate == 'pt_BR' ? 'BR' : 'PY' }}</span>

    </div>
</div>