{% extends 'app.html.twig' %}

{% block title %}
    {{ 'title.edit.user'|trans(locale = userLocate) }}
{% endblock %}

{% block pageName %}
    {{ 'title.edit.user'|trans(locale = userLocate) }}
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
        {{ 'title.user'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item">
        {{ 'title.edit.user'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item active active">
        {{ user.nomeCompleto }}
    </li>
{% endblock %}

{% block content %}

    {{ include('user/_form.html.twig', {'button_label': 'Salvar'}) }}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/user/edit') }}
{% endblock %}