{% extends 'app.html.twig' %}

{% block title %}
    {{ 'title.user'|trans(locale = userLocate) }}
{% endblock %}

{% block pageName %}
    {{ 'title.user'|trans(locale = userLocate) }}
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item active">
        {{ 'title.user'|trans(locale = userLocate) }}
    </li>
{% endblock %}

{% block content %}

    <div class="row">
       <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('app_user_new') }}" class="btn btn-info btn-sm text-white mb-2 shadow">
                <i class="fa-solid fa-plus"></i> 
                {{ 'grid.options.novo'|trans(locale = userLocate) }}
            </a>
        </div>
    </div>



    <div class="row">
       <div class="col-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="align-middle">
                                    {{ 'grid.columns.nomeCompleto'|trans(locale = userLocate) }}
                                </th>
                                <th class="align-middle">
                                    {{ 'grid.columns.email'|trans(locale = userLocate) }}
                                </th>
                                <th class="text-center align-middle">
                                    {{ 'grid.columns.role'|trans(locale = userLocate) }}
                                </th>
                                <th class="text-center align-middle">
                                    {{ 'grid.columns.locate'|trans(locale = userLocate) }}
                                </th>
                                <th class="text-center align-middle">
                                    {{ 'grid.columns.opcoes'|trans(locale = userLocate) }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in pagination %}
                            <tr>
                                <td class="align-middle">
                                    {{ item.nomeCompleto }}
                                </td>
                                <td class="align-middle">
                                    {{ item.email }}
                                </td>
                                <td class="text-center align-middle">
                                    {% for item in item.roles %}
                                        {% if item != 'ROLE_USER' %}
                                            <span class="badge bg-secondary">
                                                {{ item|replace({'ROLE_': ''}) }}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="text-center align-middle">
                                    <span class="badge bg-secondary">
                                        {{ item.locate == 'pt_BR' ? 'BR' : 'PY' }}
                                    </span>
                                </td>
                                <td class="text-center align-middle">
                                    <div class="btn-group btn-group-sm mt-1 mb-1 shadow-sm" role="group">
                                        <a class="btn btn-info text-white" href="{{ path('app_user_show', {'id': item.id}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                            {{ 'grid.options.visualizar'|trans(locale = userLocate) }}
                                        </a>
                                        <a class="btn btn-info text-white" href="{{ path('app_user_edit', {'id': item.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            {{ 'grid.options.editar'|trans(locale = userLocate) }}
                                        </a>
                                        {% include 'user/_delete_form.html.twig' with {'id': item.id} %}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="3">
                                    {{ 'grid.options.null_registros'|trans(locale = userLocate) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div> 
                    </div>
                </div>
                <div class="card-footer">
                    <div class="count">
                        {{ 'grid.options.total_registros'|trans(locale = userLocate) ~ pagination.getTotalItemCount }}
                    </div>   
                </div>
            </div>
        </div>
    </div>

{% endblock %}