{% extends 'app.html.twig' %}

{% block title %}
    {{ 'title.cadastro.user'|trans(locale = userLocate) }}
{% endblock %}

{% block pageName %}
    {{ 'title.cadastro.user'|trans(locale = userLocate) }}
{% endblock %}

{% block breadcrumbName %}
    <li class="breadcrumb-item">
    {{ 'title.user'|trans(locale = userLocate) }}
    </li>
    <li class="breadcrumb-item active">
        {{ 'title.cadastro.user'|trans(locale = userLocate) }}
    </li>
{% endblock %}

{% block content %}

    {{ include('user/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/user/edit') }}
{% endblock %}